.image-item {
   margin-top: 62px;
   margin-bottom: 45.5px;

    .opt {
        display: flex;
        font-size: 18px;
        line-height: 24.84px;
        font-weight: 400;
        margin-bottom: 10px;

        span {
            font-weight: 500;
            margin-right: 5px;
        }
    }
    
    .product{
        display: flex;
        max-height: 70px;
        .image-product {
            margin-right: 15px;
            border: none;
            padding: 5px;
            
            &:hover {
                border: 2px solid #ed8f03;
                border-radius: 5px;
            }
            
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
    
}